header {
    background-color: #0d0d0d;
    padding: 1.2rem 1.5rem;
    
    position: fixed;
    width: 100%;

    z-index: 10;
}

header .container, .header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: var(--text-color-primary);
    font-size: var(--text-md);
    transition: var(--transition);
    
    &:hover {
        color: var(--text-color-tertiary);
    }
}

.header__nav {}

.header__list {
    gap: 1.5rem;
}

.header__item {}

.header__item a {
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    color: var(--text-color-tertiary);
    text-transform: uppercase;
    padding: 1rem 0;
    transition: var(--transition);
    
    position: relative;
    
    &:hover {
        color: var(--text-color-primary);
    }
    
    &:hover::before {
        width: 100%;
    }
    
    &::before {
        content: '';
        background-color: var(--text-color-primary);
        width: 0%;
        height: 1px;
        
        position: absolute;
        left: 50%;
        bottom: -0.1rem;
        
        transform: translateX(-50%);
        transition: var(--transition);
    }
}

.header__btnMenu {
    display: none;

    & span {
        display: none;
    }
}

@media (max-width: 850px) {
    .header__list {
        background-color: #0d0d0dee;
        height: 100vh;
        width: 19rem;
        
        flex-direction: column;
        justify-content: start;
        padding-top: 3rem;
        gap: 0;
        
        position: fixed;
        left: -100%;
        top: 0;
        transition: var(--transition);
    }

    .header__item {
        width: 100%;
        text-align: center;
    }

    .header__item a {
        display: block;
        width: 100%;
        padding: 1.3rem 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.709);
        
        &:hover {
            color: var(--text-color-highlight);
            border-bottom: 2px solid var(bg-color-highlight);
        }

        &::before {
            background-color: var(--text-color-highlight);
        }
    }

    .header__btnMenu {
        display: block;
        position: absolute;
        right: 2rem;
        border: none;
        background: transparent;
        top: 1.4rem;
        cursor: pointer;
        

        & span {
            display: block;
            border-top: 3px solid white;
            width: 2.4rem;
            transition: var(--transition);

            &::before, &::after {
                content: '';
                display: block;
                height: 3px;
                width: 2.4rem;
                background-color: white;
                margin: 0.4rem 0;
                position: relative;
                transition: var(--transition);
            }
        }
     
    }

    /* CLASSES ATIVADAS COM JAVASCRIPT */
    .header__btnMenu.ativado .hamburguer {
        border-top: transparent;
    }

    .header__btnMenu.ativado .hamburguer::before {
        transform: rotate(135deg);
    }

    .header__btnMenu.ativado .hamburguer::after {
        transform: rotate(-135deg);
        top: -9px;
    }

    .header__list.ativado {
        left: 0;
    }

    header .link__contact {
        display: none;
    }

}