*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color-section);
  color: var(--text-color-primary);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

section {
  padding-block: 6.5rem;
}

h1, h2 {
  font-weight: 300;
}

h2 {
  font-size: clamp(2rem, 4vw, 3.2rem);
  line-height: 1.2;
  margin-bottom: 1.5rem;

  strong {
      color: var(--text-color-highlight);
      font-style: italic;
  }
}

p {
  color: var(--text-color-quartiary);
  font-size: 1rem;
  line-height: 1.8;

  margin-bottom: 1.5rem;
}

.container {
  max-width: 1400px;
  padding-inline: 2rem;
  margin: 0 auto;
}

[data-anime="top"] {
  opacity: 0;
  transform: translateY(-4rem);
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

[data-anime="left"] {
  opacity: 0;
  transform: translate3d(-4rem, 0, 0);
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

[data-anime="right"] {
  opacity: 0;
  transform: translate3d(4rem, 0, 0);
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

[data-anime].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.formProgress {
  font-size: 0.9rem;
  margin-bottom: 20px;
  color: #666;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: var(--bg-color-highlight);
  width: 0%;
  z-index: 999;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }

  .heroSection .container, .aboutUsSection, .contactSection .container, .sectionFaq__box,  .rodape__header, .rodape__credits {
    flex-direction: column;
  }

}
